
<h2 mat-dialog-title>
  <mat-icon color="warn" style="font-size:20px">
    report_problem
  </mat-icon>
  Delete entry
</h2>

<h2>
  Are you sure you want to delete the entry <span>{{_dialogConfig.entry.title}}</span>?
</h2>

<mat-dialog-actions>
  <button  mat-stroked-button color="primary" (click)="close()">
    <mat-icon>
      keyboard_return
    </mat-icon>
  </button>
  &nbsp;
  <button mat-stroked-button color="warn" (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
</mat-dialog-actions>
