
<h2 mat-dialog-title>
  Add new entry
</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field class="hidden-form-field">
    <input matInput placeholder="Id" formControlName="id">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Title" formControlName="title">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Password" formControlName="password">
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Login" formControlName="login">
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Url" formControlName="url">
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-stroked-button color="primary" (click)="close()">
    <mat-icon>
      keyboard_return
    </mat-icon>
  </button>
  &nbsp;
  <button mat-stroked-button color="primary" (click)="save()">
    <mat-icon>
      save
    </mat-icon>
  </button>
  
</mat-dialog-actions>
