
<div class="left-items-box">
  <button mat-raised-button color="primary" (click)="addDialog()">
    <mat-icon>control_point</mat-icon>
  </button>
</div>

<div class="items-box">

  <mat-card class="item" *ngFor="let entry of PagedEntryList">
    <mat-card-content>
      <h4>
        Title: <strong>{{entry.title}}</strong>
        <span class="id-box">({{entry.id}})</span>
      </h4>
      <p>
        Password: <strong>{{entry.password}}</strong>
      </p>
      <p>
        Login: <strong>{{entry.login}}</strong>
      </p>
      <p>
        Email: <strong>{{entry.email}}</strong>
      </p>
      <p>
        Url: <strong>{{entry.url}}</strong>
      </p>

      <p>
      <p>
        Date created: <strong>{{entry.createdOn | date:'MMMM d, y h:mm a':'+0200'}}</strong>
      </p>
      <p>
        Date modified: <strong>{{entry.modifiedOn | date:'MMMM d, y h:mm a':'+0200'}}</strong>
      </p>
      <div class="dialog-action-box">
        <button mat-stroked-button color="primary" (click)="updateDialog(entry)">
          <mat-icon>edit</mat-icon>
        </button>
        &nbsp;
        <button mat-stroked-button color="warn" (click)="deleteDialog(entry)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>



</div>

<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = handlePageEvent($event)">
</mat-paginator>
